#pogrubienie_wojciechowicz{
    font-size: 36px;
    color: #935DD4;
}

#pochylona_wojciechowicz{
    font-size: 41pt;
    color: #F7C170;
}

#index_gorny_wojciechowicz{
    font-size: 1.6cm;
    color: #A78F20;
}

#index_dolny_wojciechowicz{
    font-size: 2.7cm;
    color: rgb(67,243,232);
}

#mono_wojciechowicz{
    font-size: 46px;
    color: #27DFD4;
}

#powiekszenie_wojciechowicz{
    color: #613FA2;
}

#pomniejszenie_wojciechowicz{
    color:  rgb(197, 163, 62);
}